.mobileContainer {
  border-radius: 8px;
  padding: 12px;
  width: 100%;
}

// localities
.localities {
  margin-top: 12px;
  overflow: scroll;
}

.localitiesDistrict {
  color: var(--yy-grey-500);
  font-size: 10px;
}

.locality {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #c0c0c0;
}

.localityDescription {
  margin-left: 12px;
}

.container {
  padding: 0 12px;
}

//

//НЕТ переменной
.darkThemeContainer {
  background: #272727 !important;
}

//

.from {
  padding: 12px 0;
  border-bottom: 1px solid var(--yy-grey-400);
  color: var(--yy-grey-500);
}

.formLocalityName {
  color: var(--yy-text-primary);
}

.to {
  padding: 12px 0;
  color: var(--yy-grey-500);
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button {
  margin-top: 12px;
}
