.formWrapper {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  padding: 12px 24px 24px;
  margin-bottom: 12px;
}


.wrapper {
  //TODO: fix max-width
  max-width: 420px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}