.points {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
  margin-top: 20px;
}

.point {
  width: calc(var(--yy-base) * 6);
  height: calc(var(--yy-base) * 6);
  border-radius: 50%;
  background: var(--yy-main-color);
  border: 3px solid var(--yy-border-color);
}

.line {
  height: calc(var(--yy-base) * 8);
  border: 0.5px dotted var(--yy-dark-color);
}