@import "../../globalStyles/globalStyles.module";

.wrapper {
  display: flex;
  justify-content: center;
  padding: $base;
  margin-bottom: $base * 2;
  animation-duration: .3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media screen and (min-width: $mediaQueryMobile) {
  .wrapper {
    justify-content: flex-end;
  }
}