@import "../../globalStyles/globalStyles.module";

.input {
  margin: $base * 2;
}

.wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $base * 2;
}

.minifiedRouteWrapper {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: $base * 2;

  .title, .icon {
    word-break: break-word;
    margin: $base * 2;
  }
}

.formButton {
  margin: $base * 2;
}

.rollUpButtonIcon {
  transform: rotate(90deg);
}

@media screen and (min-width: $mediaQueryMobile) {
  .wrapper {
    flex-direction: row;
  }

  .input {
  }

  .rollUpButtonIcon {
    transform: rotate(0deg);
  }
}