@import "../../globalStyles/globalStyles.module";

.input {
  margin: $base * 2;
  width: 100%;
}

.formWrapper {
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $base * 4;
}

.minifiedRouteWrapper {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: $base * 4;

  .title, .icon {
    word-break: break-word;
    margin: $base * 2;
  }

  .route {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.formButton {
  margin: $base * 2;
  min-width: 90px;
}

.rollUpButtonIcon {
  transform: rotate(90deg);
}

.arrows {
  transform: rotate(90deg);
  align-self: flex-end;
}

.actions{
   display: flex;
}

@media screen and (min-width: $mediaQueryMobile) {
  .wrapper, .minifiedRouteWrapper {
    flex-direction: row;
  }

  .arrows {
    transform: rotate(0deg);
    align-self: center;
  }

  .input {
    width: auto;
  }

  .rollUpButtonIcon {
    transform: rotate(0deg);
  }
}