.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 24px;
}

.list {
  flex: 1;
  width: 100%;
  max-width: 420px;
}
