:root {
  --yy-primary-main: #0db2b2;
  --yy-primary-light: #8ad6d6;
  --yy-primary-dark: rgb(9, 124, 124);
  --yy-primary-contrast-text: rgba(0, 0, 0, 0.87);
  --yy-secondary-main: #9c81e8;
  --yy-secondary-light: rgb(175, 154, 236);
  --yy-secondary-dark: rgb(109, 90, 162);
  --yy-secondary-contrast-text: #fff;
  --yy-background-default: #f2f6f6;
  --yy-background-paper: #fff;
  --yy-common-black: #000;
  --yy-common-white: #fff;
  --yy-error-main: #d32f2f;
  --yy-error-light: #ef5350;
  --yy-error-dark: #c62828;
  --yy-error-contrast-text: #fff;
  --yy-warning-main: #ed6c02;
  --yy-warning-light: #ff9800;
  --yy-warning-dark: #e65100;
  --yy-warning-contrast-text: #fff;
  --yy-info-main: #0288d1;
  --yy-info-light: #03a9f4;
  --yy-info-dark: #01579b;
  --yy-info-contrast-text: #fff;
  --yy-success-main: #2e7d32;
  --yy-success-light: #4caf50;
  --yy-success-dark: #1b5e20;
  --yy-success-contrast-text: #fff;
  --yy-grey-50: #fafafa;
  --yy-grey-100: #f5f5f5;
  --yy-grey-200: #eeeeee;
  --yy-grey-300: #e0e0e0;
  --yy-grey-400: #bdbdbd;
  --yy-grey-500: #9e9e9e;
  --yy-grey-600: #757575;
  --yy-grey-700: #616161;
  --yy-grey-800: #424242;
  --yy-grey-900: #212121;
  --yy-grey-a100: #f5f5f5;
  --yy-grey-a200: #eeeeee;
  --yy-grey-a400: #bdbdbd;
  --yy-grey-a700: #616161;
  --yy-contrast-threshold: 3;
  --yy-tonal-offset: 0.2;
  --yy-text-primary: rgba(0, 0, 0, 0.87);
  --yy-text-secondary: rgba(0, 0, 0, 0.6);
  --yy-text-disabled: rgba(0, 0, 0, 0.38);
  --yy-divider: rgba(0, 0, 0, 0.12);
  --yy-action-active: rgba(0, 0, 0, 0.54);
  --yy-action-hover: rgba(0, 0, 0, 0.04);
  --yy-action-hover-opacity: 0.04;
  --yy-action-selected: rgba(0, 0, 0, 0.08);
  --yy-action-selected-opacity: 0.08;
  --yy-action-disabled: rgba(0, 0, 0, 0.26);
  --yy-action-disabled-background: rgba(0, 0, 0, 0.12);
  --yy-action-disabled-opacity: 0.38;
  --yy-action-focus: rgba(0, 0, 0, 0.12);
  --yy-action-focus-opacity: 0.12;
  --yy-action-activated-opacity: 0.12;
}
