.order {
  display: flex;
  padding: 8px;
  margin-bottom: 16px;
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: 0;
  }
}

.columnLeft {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  margin-right: 4px;
}

.columnRight {
  width: 112px;
  text-align: right;
}

.orderTitle {
  margin-bottom: 12px;
  max-width: 100%;
  word-break: break-word;
}

.orderPhone {
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 767px) {
  .order {
    padding: 16px;
  }
}
